* { 
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	color: $color-lime-green; 
	font-weight: 500;
	@include transition(all ease-out .3s); 
}
body {
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
}
h3 { font-size: 17px; line-height: 1.3; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.clear:before, .clear:after { content: " "; display: table; }.clear { *zoom: 1; }.clear {clear: both;}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width: $deskwidth) {
		padding-left: 0;
		padding-right: 0;
	}
}

.med-wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.content-area {
	width: 100%;
	margin: 0px auto;
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
}
.grey-sections {
	background-color: $color__text-main;
	padding:  30px 30px 60px 30px;
	text-align: center;
	.text {
		color: #fff !important;
		width: 100%  !important;
		float: left !important;
	}
	h3.title {
		clear: both;
		width: 100%;
	}
	.call-out {
		padding: 0 !important;
		width: 100%  !important;
		float: left !important;
		.icon {
			position: relative !important;
			margin: 30px auto 15px auto !important;
			top: 0px !important;
		}
		.calloutbtn {
			margin: 30px 0 0 0 !important;
		}
	}
	.calloutwrap {
		width: 100% !important;
		clear: both !important;
		float: left !important;
	}
}
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 185px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
/* Logo */
.logo {
	display: block;
	width: 150px;
	position: absolute;
	left: 0;
	top: 10px;
	background: rgb(88,89,91);
	background: -moz-linear-gradient(top, rgba(88,89,91,1) 0%, rgba(64,65,66,1) 100%);
	background: -webkit-linear-gradient(top, rgba(88,89,91,1) 0%,rgba(64,65,66,1) 100%);
	background: linear-gradient(to bottom, rgba(88,89,91,1) 0%,rgba(64,65,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#404142',GradientType=0 );
	border-bottom: 4px solid $color-lime-green;
	@include transition (all ease-out .3s);
	* {
		@include transition (all ease-out .3s);
	}
	@media screen and (min-width: $tabwidth) {
		top: 20px;
		width: 170px;
	}
	@media screen and (min-width: $midwidth) {
		width: 210px;
	}
	a {
		display: block;
		color: #FFF;
		text-decoration: none;
		font-size: 20px;
		width: 80%;
		float: right;
		padding: 12px 15px;
		@media screen and (min-width: $tabwidth) {
			padding: 18px 18px;
		}
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}

.site-header {
	width: 100%;
	position: relative;
	z-index: 50;
	background: transparent;
	border-bottom: none;
	@include transition (all ease-out .3s);
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-align-items(center);
	}
	.wrapper {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.home .site-header {
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (min-width: $tabwidth) {
		height: 3.95%;
	}
}
.subpage .site-header {
	@media screen and (min-width: $tabwidth) {
		height: 60px;
	}
}

.site-header {
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 56px;
		background: #FFF;
		border-bottom: 4px solid $color-lime-green;
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
		@media screen and (min-width: $tabwidth) {
			height: 58px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
		}
		.logo {
			top: 0;
			width: 128px;
			@media screen and (min-width: $tabwidth) {
				width: 135px;
				a {
					padding: 10px 10px;
				}
			}
		}
	}
}

body.stickynav-on {
	@media screen and (min-width: $tabwidth) {
		padding-top: 100px;
	}
}

body.logged-in.admin-bar {
	&.stickynav-on {
		@media screen and (min-width: $tabwidth) {
			padding-top: 130px;
		}
	}
	.site-header.sticky {
		@media screen and (min-width: $tabwidth) {
			top: 32px;
		}
	}
}

.site-footer {
	.wrapper {
		font-size: 13px;
	}
	.foot-inside {
		padding-top: 40px;
		padding-bottom: 40px;
		border-top: 2px solid $color-lime-green;
	}
	a {
		font-weight: 400;
		@include transition(all ease-out .3s);
	}
	.column {
		display: block;
		width: 100%;
		font-size: 13px;
		line-height: 1.3;
		text-align: left;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			width: auto;
		}
	}
	.contact-col {
		.col {
			text-align: center;
			margin-bottom: 20px;
			@media screen and (min-width: $tabwidth) {
				display: inline-block;
				box-sizing: border-box;
				padding-left: 20px;
				padding-right: 20px;
				text-align: left;
				margin-bottom: 10px;
			}
			@media screen and (min-width: $midwidth) {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		a {
			color: $color__text-main;
			text-decoration: none;
			&:hover {
				color: $color-lime-green;
			}
		}
		.info b {
			display: inline-block;
			padding-right: 5px;
		}
	}
	#footer-menu {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			padding-left: 30px;
		}
		li {
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				display: inline-block;
				float: left;
				text-align: left;
			}
			ul {
				display: none;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: $color__text-main;
			padding: 5px 15px;
			&:hover {
				color: $color-lime-green;
			}
		}
	}
}
.subpage .site-footer {
	margin-top: 35px;
}


.ml-loader-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 2000;
	.ml-loader {
		position: relative;
		width: 70px;
		height: 70px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.ml-loader {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.ml-loader div {
  -webkit-transform-origin: 32px 32px;
      -ms-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
  -webkit-animation: 1.2s opaque ease-in-out infinite both;
          animation: 1.2s opaque ease-in-out infinite both;
}

.ml-loader div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 5px;
  height: 18px;
  border-radius: 10px;
  background-color: #FFF;
}

.ml-loader div:nth-child(1) {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.ml-loader div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.ml-loader div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.ml-loader div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.ml-loader div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.ml-loader div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.ml-loader div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.ml-loader div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.ml-loader div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.ml-loader div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.ml-loader div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.ml-loader div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.ml-loader div:nth-child(13) {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}

@keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}

input[type=submit], button, .btn-style {
	cursor: pointer;
	display: inline-block;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0px;
	text-decoration: none;
	background: transparent;
	color: $color__text-main;
	text-transform: uppercase;
	padding: 8px 25px 6px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	box-shadow: none;
	text-shadow: none;
	border: 1px solid $color-lime-green;
	@include transition(all ease-out .3s); 
	&:hover {
		background: $color-lime-green;
		color: #FFF;
		transform: scale(1.1);
		padding: 10px 28px 8px;
		box-shadow: none;
		border: 1px solid $color-lime-green;
	}
	&.green {
		background-color: $color-lime-green;
		color: #fff;
		&:hover {
			// opacity: .7;
		}
	}
}

.wp-caption img[class*="wp-image-"] {
	position: relative;
    top: -10px;
}
.edit-link a {
	display: inline-block;
	border: 1px dotted $color-lime-green;
    padding: 1px 10px;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 25px;
    margin-top: 15px;
}
.endofpost {
	width: 100%;
	padding: 30px; 
	background-color: $color__text-main;
	color: #fff;
	border-bottom: 3px solid $color-lime-green;
	float: left;
	margin: 0 0 30px 0;
}