.main-navigation {
	width: 100%;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 70%;
		margin-right: 10px;
	}
	@media screen and (min-width: $midwidth) {
		width: 80%;
		margin-right: 30px;
	}
	a {
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		color: $color__text-main;
		text-decoration: none;
		@include transition(all ease-out .3s);
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	.main-menu-wrap {
		width: 100%;
		height: 100%;
		float: left;
		position: fixed;
		background: rgba(255,255,255,.95);
		box-sizing: border-box;
		padding: 0 40px;
		z-index: -999;
		visibility: hidden;
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		@include transition(all ease .5s);
		transform: translateX(100%);


		@media screen and (min-width: $tabwidth) {
			display: block;
			position: static;
			background: transparent;
			height: auto;
			padding: 0;
			transform: none;
			visibility: visible;
			z-index: 30;
		}
	}
	&.toggled {
		.main-menu-wrap {
			visibility: visible;
			z-index: 30;
			transform: translateX(0);
			overflow: auto;
		}
	}
	.menu {
		display: inline-block;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			float: right;
		}
	}
	.menu > li {
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: left;
			padding: 0 15px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 0 20px;
		}
	}
	.menu > li > a {
		font-size: 18px;
		position: relative;
		padding: 6px 0;
		display: block;
		@media screen and (min-width: $tabwidth) {
			font-size: 12px;
			padding: 0 0;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 14px;
		}

		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: $color-lime-green;
			position: relative;
			top: -2px;
			transform: scaleX(0);
			visibility: hidden;
			@include transition(all ease-out .3s);
		}
	}
	.menu > li.current_page_item > a,
	.menu > li:hover > a {
		&:after {
			transform: scaleX(1);
			visibility: visible;
		}
	}
	.menu ul {
		display: block;
		margin-left: 20px;
		@include transition(all ease-out .5s);
		@media screen and (min-width: $tabwidth) {
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
			width: 220px;
			position: absolute;
			left: 0;
			max-height: 0;
			visibility: hidden;
			padding: 0 0;
			background: #FFF;
			opacity: 0;
			margin-top: 0;
			margin-left: 0;
			ul {
				left: 220px;
				top: 0;
			}
			li.menu-item-has-children {
				&:before {
					content:"";
					display: inline-block;
					width: 0;
					height: 0;
					border-left: 4px solid #898989;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					position: absolute;
					right: 9px;
					top: 9px;
					margin-right: 0;
					@include transition(all ease-out .3s);
				}
				&:hover:before {
					margin-right: -3px;
					border-left: 4px solid $color-lime-green;
				}
			}
		}
	}
	.menu ul a {
		display: block;
		padding: 2px 0;
		@media screen and (min-width: $tabwidth) {
			padding: 3px 15px;
		}
	}
	.menu ul li:hover > a,
	.menu ul li.current_page_item > a {
		color: $color-lime-green;
	}

	.menu li:hover > ul {
		@media screen and (min-width: $tabwidth) {
			max-height: 400px;
			visibility: visible;
			opacity: 1;
		}
	}
	.menu > li > ul {
		padding-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}
.subpage .main-navigation {
	@media screen and (min-width: $tabwidth) {
		margin-top: 0;
	}
}

.menu-toggle {
	display: block;
	border: none;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
	border-radius: 0;
	text-indent: -999em;
	background: transparent;
	position: absolute;
	right: 20px;
	top: 0;
	margin-top: 15px;
	width: 35px;
	height: 25px;
	padding: 0px;
	z-index: 45;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	&:focus,&:active, &:hover {
		outline: none;
		box-shadow: none;
		background: transparent;
	}
	i,i:before,i:after {
		display: block;
		position: absolute;
		width: 100%;
		height: 4px;
		background: #333;
		left: 0;
		@include transition(all ease-out .3s);
	}
	i:before,i:after {
		content: "";
	}
	i {
		top: 11px;
	}
	i:before {
		top: -11px;
	}
	i:after {
		top: 10px;
	}
}
.toggled .menu-toggle {
	i {
		background: transparent;
	}
	i:before {
		transform: translateY(10px) rotate(45deg);
	}
	i:after {
		transform: translateY(-10px) rotate(-45deg);
	}
}
body.mobile-menu-open {
	overflow: hidden;
}

.home .menu > li:first-child {
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
